body {
    background-color: #edf6f9;
    padding: 0;
    margin: 0;
    font-family: arvo;
}



/* MENU */


nav.primary-navigation {
    margin: 0 auto;
    display: block;
    padding: 20px 0 0 0;
    text-align: center;
    font-size: 16px;
}

nav.primary-navigation ul li {
    list-style: none;
    margin: 0 auto;
    border-left: 2px solid #90e0ef;
    display: inline-block;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: arvo;
}

nav.primary-navigation li a {
    color: black;
}

nav.primary-navigation li a:hover {
    color: #90e0ef;
}

nav.primary-navigation li:hover {
    cursor: pointer;
}

nav.primary-navigation ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: white;
}

nav.primary-navigation ul li:hover>ul,
nav.primary-navigation ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
}

nav.primary-navigation ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
}

nav.primary-navigation ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid #90e0ef;
    transition: all 0.3s ease;
}

a {
    text-decoration: none;
}

a:hover {
    color: #90e0ef;
}

ul li ul li a {
    transition: all 0.5s ease;
}



/* FORM SECTION */



.main-section {
    display: flex;
    width: 70%;
    margin: auto;
    padding: 10rem 5rem;
}


form {
    padding: 16px;
    width: 500px;
    margin: 0 auto;
}

.segment {
    padding: 32px 0;
    text-align: center;
}

button,
input {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #ebecf0;
    text-shadow: 1px 1px 0 #fff;
}

label {
    display: block;
    margin-bottom: 24px;
    width: 100%;
}

input {
    margin-right: 8px;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}

input:hover {
    background-color: #90e0ef;
}

input:focus {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
    background-color: #90e0ef;
}

button {
    color: #61677c;
    font-weight: bold;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

button:active {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

button .icon {
    margin-right: 8px;
}

button.unit {
    border-radius: 8px;
    line-height: 0;
    width: 48px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    font-size: 19.2px;
}

button.unit .icon {
    margin-right: 0;
}

button.red {
    display: block;
    width: 100%;
    color: #ae1100;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.input-group label {
    margin: 0;
    flex: 1;
}


/* DROP DOWN SELECTBOX */


.chosen-value::-webkit-input-placeholder {
    color: #333;
}

.chosen-value:hover {
    background-color: #90e0ef;
    cursor: pointer;
}

.chosen-value:hover::-webkit-input-placeholder {
    color: #333;
}

.chosen-value:focus,
.chosen-value.open {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    outline: 0;
    background-color: #90e0ef;
    color: #000;
}

.chosen-value:focus::-webkit-input-placeholder,
.chosen-value.open::-webkit-input-placeholder {
    color: #000;
}

.value-list {
    list-style: none;
    margin-top: .5rem;
    /* box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2); */
    overflow: hidden;
    transition: 0.3s ease-in-out;
    max-height: 0;
    width: 100%;
    padding: 0;
}

.value-list.open {
    max-height: 320px;
    overflow: auto;
}

.value-list li {
    position: relative;
    background-color: #fafcfd;
    padding: 0.5rem;
    font-size: 1.1rem;
    margin-top: 0.1rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    opacity: 1;
}

.value-list li:hover {
    background-color: #90e0ef;
}

.value-list li.closed {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
}

/* SKILLS */

.skills {
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.skill {
    display: inline-block;
    text-align: center;
    padding: 0.3rem;
    margin: 0.7rem 0 0 10%;
    border: 1px solid grey;
    border-radius: 20px;
    cursor: pointer;
}