{% extends 'main.html' %} 

{% block content %}


  <!-- FROM  -->
    <div class="login_or_register">
      <a href="{% url 'home' %}" class='form_active'>Check IT</a>
      <a href="{% url 'find_job' %}" >Find IT Job</a>
    </div>

  <div class="main-section">



    <form>
  
        <div class="segment">
          <h1>Find IT Job</h1>
        </div>


        <label>
        <input class="chosen-value" type="text" value="" placeholder="Search Category">
        <ul class="value-list">
          <li>All</li>
          <li>Frontend</li>
          <li>Backend</li>
          <li>Full Stack</li>
          <li>Machine Learning</li>
          <li>Data</li>
      </ul>
    </label>


        <label>
          <input type="text" placeholder="Location (optional)"/>
        </label>


        <label class = "skill_box">
          <input id="skill_bar" class="chosen-value" type="text" placeholder="Skill"/>
          <input id="skill_bar_level" class="skill_level_input" type="number" min="1" max="5" placeholder="Skill Level"/>
          <ul class="value-list">
            {% for skill in skills %}
            <li class='dropdown_items'>{{skill}}</li>
            {% endfor %}
          </ul>
          


            <ul id="skills" class='skills'>
            </ul>
        </label>


        <a href="{% url 'display_stats' %}"><button class="red" type="button"><i class="icon ion-md-lock"></i>Search</button></a>
        
        
      </form>


  </div>

{% endblock content %}