{% extends 'main.html' %} 

{% block content %}

  <!-- FROM  -->
  <div class="login_or_register">
    <a href="{% url 'home' %}" class='form_active'>Check Statistics</a>
    <a href="{% url 'find_job' %}" >Find job for you</a>
  </div>

  <div class="main-section">

    <form>
  
        <div class="segment">
          <h1>Check Statistics In Labor Market</h1>
        </div>


        <label>
          <input class="chosen-value" type="text" value="" placeholder="Search Category">
          <ul class="value-list">
              <li>Frontend</li>
              <li>Backend</li>
              <li>Full Stack</li>
              <li>Machine Learning</li>
              <li>Data</li>
          </ul>
      </label>
        
        

        <label>
            <input type="text" placeholder="Search Job Title (optional)"/>
        </label>
        


        <label>
          <input type="text" placeholder="Location (optional)"/>
        </label>



        <a href="{% url 'display_stats' %}"><button class="red" type="button"><i class="icon ion-md-lock"></i>Search</button></a>
        
        
      </form>


  </div>


{% endblock content %}
