{% extends 'main.html' %} 

{% block content %}

  <!-- FROM  -->
  <div class="login_or_register">
    <a href="{% url 'home' %}" class='form_active'>Check Statistics</a>
    <a href="{% url 'find_job' %}" >Find job for you</a>
  </div>

  <div class="main-section">

    <form method="POST">
      {% csrf_token %}
  
        <div class="segment">
          <h1>Check Statistics In Labor Market</h1>
        </div>

          

        <label>
          {{form.category}}
          <ul class="value-list">
              <li>Frontend</li>
              <li>Backend</li>
              <li>Full Stack</li>
              <li>Machine Learning</li>
              <li>Data</li>
          </ul>
      </label>
        
        

        <label>
          {{form.job_title}}
        </label>
        


        <label>
          {{form.location}}
        </label>



        <button class="red" type="submit"><i class="icon ion-md-lock"></i>Search</button>
        
        
      </form>


  </div>


{% endblock content %}
