{% extends 'main.html' %} 


{% block content %}

  <div class="jobs_section">

    {% if not offers_info %} 
      <h2>Nothing here yet</h2>
      <h4>Go there <i class="fas fa-arrow-right"></i> <a href="{% url 'find_job' %}">link</a> to find some offers for you!</h4>
    {% endif %}


    {% for offer in offers_info %}
    <div class="card">
        <nav id="click_.{{offer.offer_basic.offer_id}}" class='add_like'>
          <i title="Un Like" class="fas fa-heart full_heart"></i>
        </nav>
        <div class="photo">
          <img src="{{offer.offer_basic.img}}">
        </div>
        <div class="description">
          <h2>{{offer.offer_basic.title}}</h2>
          <h4>{{offer.offer_basic.city}}</h4>

          {% for sallary in offer.sallarys %}
          <h1>{{sallary.content}}</h1>
          {% endfor %}
          
          <ul class="job_requirements">
            {% for skill in offer.skills %}
              <li>{{skill.content}}</li>
            {% endfor %}
          </ul>

          <a href="{{offer.offer_basic.url}}" target="_blank">View</a>
        </div>

        <form id="form_.{{offer.offer_basic.offer_id}}" method="POST" action="{% url 'add_like' %}">
          {% csrf_token %}
        </form>
      </div>

      {% endfor %}



      <!-- <div class="pagination">
        <ul class="container">
          <li><a href="#" class="btn btn--disabled">&#10094; Prev</a></li>
          <li><a href="#" class="btn btn--sub">01</a></li>
          <li><a href="#" class="btn">02</a></li>
          <li><a href="#" class="btn">03</a></li>
          <li><a href="#" class="btn">04</a></li>
          <li><a href="#" class="btn">05</a></li>
          <li><a href="#" class="btn">06</a></li>
          <li><a href="#" class="btn">07</a></li>
          <li><a href="#" class="btn">08</a></li>
          <li><a href="#" class="btn">09</a></li>
          <li><a href="#" class="btn">10</a></li>
          <li><a href="#" class="btn">Next &#10095;</a></li>
        </ul>
      </div> -->

  </div>

{% endblock content %}



{% block js %}
<script>

  let add_like_btns = document.querySelectorAll('.add_like')

  add_like_btns.forEach(btn=>{
    btn.addEventListener('click',(e)=>{

      // get offer id
      let offer_id = btn.id.replace('click_','')

      // create hidden form
      let form_id = 'form_' + offer_id
      let form = document.getElementById(form_id)
      
      // Check if heart is empty or already liked
      if (btn.childNodes[1].classList.contains('empty_heart')){

        // append offer values to form
        let offer_data = document.querySelectorAll(offer_id)
        offer_data.forEach(data=>{
            let value = data.textContent  ? data.textContent : data.getAttribute('src')
            let name = data.dataset.name
            
            let input = document.createElement("input");

            input.setAttribute("type", "hidden");

            input.setAttribute("name", name);

            input.setAttribute("value", value);
            //append to form element
            form.appendChild(input);
        })

        // add offer id
        let input = document.createElement("input");

        input.setAttribute("type", "hidden");

        input.setAttribute("name", 'id');

        input.setAttribute("value", offer_id);
        //append to form element
        form.appendChild(input);

      }else{

        let input = document.createElement("input");

        input.setAttribute("type", "hidden");

        input.setAttribute("name", 'delete');

        input.setAttribute("value", offer_id);
        //append to form element
        form.appendChild(input);
      }


      // submit form
      form.submit();




    })
  })

</script>
{% endblock js %}