{% load static %}
<!-- Header -->
<header class="header">
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">

    <nav role="navigation" class="primary-navigation">
        <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="">My Account &dtrif;</a>
            <ul class="dropdown">
            <li><a href="{% url 'liked_jobs' %}">Liked</a></li>
            <li><a href="{% url 'recomended_jobs' %}">Recommended</a></li>
            </ul>
        </li>
        <li><a href="{% url 'login' %}">Login/Sing In</a></li>
        </ul>
    </nav>
    </header>