{% load static %}
<!-- Header -->
<header class="header">
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">

    <nav role="navigation" class="primary-navigation">
        <ul>
            <li><a href="">Home &dtrif;</a>
                <ul class="dropdown">
                    <li><a href="{% url 'home' %}">Check Stats</a></li>
                    <li><a href="{% url 'find_job' %}">Find something for you</a></li>
                </ul>
            </li>
            
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'liked_jobs' %}">Liked</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Login/Sing In</a></li>
        {% endif %}
        </ul>
    </nav>
    </header>