{% extends 'main.html' %} 


{% block content %}

  <div class="jobs_section">

    <!-- Display if not any offer -->
    {% if not offers and user_skills_list %}
      <h2>Sorry we couldn't find any job offer for:</h2>
      <p>Category: {{form_values.category}}</p>
      <p>Location: {{form_values.location}}</p>

      <p>Skills:</p>
      {% for skill in user_skills_list %} 
        <p>{{skill}}</p>
      {% endfor %}
    {% endif %}



    <!-- Display if any offers -->
    {% for offer in offers %}
      <div class="card">
          <nav id="click_.{{offer.id}}" class='add_like' title="Like">
           
            <svg class="heart" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" stroke="#727272" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M340.8,98.4c50.7,0,91.9,41.3,91.9,92.3c0,26.2-10.9,49.8-28.3,66.6L256,407.1L105,254.6c-15.8-16.6-25.6-39.1-25.6-63.9  c0-51,41.1-92.3,91.9-92.3c38.2,0,70.9,23.4,84.8,56.8C269.8,121.9,302.6,98.4,340.8,98.4 M340.8,83C307,83,276,98.8,256,124.8  c-20-26-51-41.8-84.8-41.8C112.1,83,64,131.3,64,190.7c0,27.9,10.6,54.4,29.9,74.6L245.1,418l10.9,11l10.9-11l148.3-149.8  c21-20.3,32.8-47.9,32.8-77.5C448,131.3,399.9,83,340.8,83L340.8,83z" stroke="#727272"/></svg>
          
          </nav>
          <div class="photo">
            <img data-name="img" class="{{offer.id}}" src="{{offer.image}}">
          </div>
          <div class="description">
            <h2 data-name="title" class="{offer.id}}" >{{offer.name}}</h2>
            <h4 data-name="city" class="{{offer.id}}" >{{offer.city}}</h4>

            {% for emp_type in offer.salary %} 
            <h1 data-name="salary" class="{{offer.id}}" >{% if emp_type.salary != None %} {{emp_type.type}} : {{emp_type.salary.from}} - {{emp_type.salary.to}} {{emp_type.salary.currency}} {% endif %}</h1>
            {% endfor %}
    
            <ul class="job_requirements">
              {% for skill in offer.skills %}
                <li data-name="skill" class="{{offer.id}}" >{{skill.name}} - level:{{skill.level}}</li>
              {% endfor %}
            </ul>
            <a href="{{offer.url}}" target="_blank">View Offer</a>
          </div>

          <form id="form_.{{offer.id}}" method="POST" action="{% url 'add_like' %}">
            {% csrf_token %}
          </form>

        </div>
      {% endfor %}



  </div>

{% endblock content %}


{% block js %}
<script>

  let add_like_btns = document.querySelectorAll('.add_like')

  add_like_btns.forEach(btn=>{
    btn.addEventListener('click',(e)=>{
      // get offer id
      let offer_id = btn.id.replace('click_','')

      // create hidden form
      let form_id = 'form_' + offer_id
      console.log(form_id);
      let form = document.getElementById(form_id)
      console.log(form);

      // append offer values to form
      let offer_data = document.querySelectorAll(offer_id)
      offer_data.forEach(data=>{
          let value = data.textContent  ? data.textContent : data.getAttribute('src')
          let name = data.dataset.name
          console.log(name);
          
          let input = document.createElement("input");

          input.setAttribute("type", "hidden");

          input.setAttribute("name", name);

          input.setAttribute("value", value);
          //append to form element
          form.appendChild(input);
      })

      form.submit();


    })
  })

</script>
{% endblock js %}