{% extends 'main.html' %} 
{% load static %}

{% block content %}

  <div class="jobs_section">

    <!-- Display if not any offer -->
    {% if not offers %}
      <h2>Sorry we couldn't find any job offer for:</h2>
      <p>Category: {{form_values.category}}</p>
      <p>Location: {{form_values.location}}</p>

      <p>Skills:</p>
      {% for skill in user_skills_list %} 
        <p>{{skill}}</p>
      {% endfor %}
    {% endif %}



    <!-- Display if any offers -->
    {% for offer in offers %}
      <div class="card">

          <nav id="click_.{{offer.id}}" class='add_like'>
            {% if offer.id in liked_offers_ids %}
            <i title="Un Like" class="fas fa-heart full_heart"></i>
            {% else %}
            <i title="Like" class="far fa-heart empty_heart"></i>
            {% endif %}
          </nav>

          <div class="photo">
            <img data-name="img" class="{{offer.id}}" src="{{offer.image}}">
          </div>
          <div class="description">
            <h2 data-name="title" class="{{offer.id}}" >{{offer.name}}</h2>
            <h4 data-name="city" class="{{offer.id}}" >{{offer.city}}</h4>

            {% for emp_type in offer.salary %} 
            <h1 data-name="salary" class="{{offer.id}}" >{% if emp_type.salary != None %} {{emp_type.type}} : {{emp_type.salary.from}} - {{emp_type.salary.to}} {{emp_type.salary.currency}} {% endif %}</h1>
            {% endfor %}
    
            <ul class="job_requirements">
              {% for skill in offer.skills %}
                <li data-name="skill" class="{{offer.id}}" >{{skill.name}} - level:{{skill.level}}</li>
              {% endfor %}
            </ul>
            <a href="{{offer.url}}" target="_blank">View Offer</a>
          </div>

          <form id="form_.{{offer.id}}" method="POST" action="{% url 'add_like' %}">
            {% csrf_token %}
          </form>

        </div>
      {% endfor %}



  </div>

{% endblock content %}


{% block js %}
<script src="{% static 'js/like_logic.js' %}"></script>
{% endblock js %}