{% extends 'main.html' %} 

{% block content %}


<div class="login_or_register">
    <a href="{% url 'login' %}" class='form_active'>Login</a>
    <a href="{% url 'register' %}">Sign up</a>
</div>

<div class="main-section">

<!-- register form -->
      <form id = 'register_form' method="POST" acction ="{% url 'register' %}">
  
        <div class="segment">
          <h1>Sign Up</h1>
        </div>

        {% csrf_token %}

        {% for field in form %} 

        <label>{{field}}</label>
        

        {% endfor %}
        
        <!-- <label>
          <input type="text" placeholder="Username"/>
        </label>

        <label>
          <input type="email" placeholder="Email"/>
        </label>

        <label>
            <input type="password" placeholder="Password"/>
        </label>

        <label>
            <input type="password" placeholder="Repeat Password"/>
        </label>

        <label>
            <input class="checkbox-effect checkbox-effect-1" id="get-up-1" type="checkbox" value="get-up-1" name="get-up-1"/>
            <label class="checkbox_text" for="get-up-1">Get notificitions about new jobs for you</label>
        </label> -->
        
        

        <button class="red" type="submit"><i class="icon ion-md-lock"></i>Sign Up</button>
        
        
      </form>

      <!-- is username exist -->
      {% for error in form.username.errors %}

      <div class="toast toast--error">
        <div class="toast__icon">
        <i class="fas fa-check"></i>
        <i class="fas fa-exclamation-circle"></i>
        </div>
        <div class="toast__content">
          <p class="toast__message">{{error}}</p>
        </div>
        <div class="toast__close">
          <i class="fas fa-times"></i>
        </div>
      </div>

      {% endfor %}

      <!-- is password is invalid  -->
      {% for error in form.password2.errors %}

      <div class="toast toast--error">
        <div class="toast__icon">
        <i class="fas fa-check"></i>
        <i class="fas fa-exclamation-circle"></i>
        </div>
        <div class="toast__content">
          <p class="toast__message">{{error}}</p>
        </div>
        <div class="toast__close">
          <i class="fas fa-times"></i>
        </div>
      </div>

    {% endfor %}


  </div>

{% endblock content %}