{% extends 'main.html' %} 

{% block content %}  

<div class='main-section'>
    <form method='POST'>
        {% csrf_token %}
        {{form.as_p}}

        <button style='margin-top: 2rem;' class="red" type="submit">Submit</button>
    </form>

    <!-- Display form error -->
    {% for error in form.new_password2.errors %}
    <div class="toast toast--error">
        <div class="toast__icon">
        <i class="fas fa-check"></i>
        <i class="fas fa-exclamation-circle"></i>
        </div>
        <div class="toast__content">
          <p class="toast__message">{{error}}</p>
        </div>
        <div class="toast__close">
          <i class="fas fa-times"></i>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}